* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    background: #ffffff;
    flex-wrap: wrap;
}
/*
propriedades flex
flex-grow: habilidade do flex de crescer (maior aumenta mais, padrão 0, 1 faz todos terem o mesmo tamanho)
flex-shrink: capacidade de redução do item (com 0 n permite reduzir, maior numero diminui mais)
flex-basis: tamanho inicial do item (0 mantem os mesmo tamanho entre eles, pode % em etc)
flex-wrap: wrap; define o conteiner PAI, que vai receber a galera
*/

header, nav, main, aside, footer {/*propriedades com valor em comum*/
    display: flex;
    margin: 3px;
    background: #a1a1a1;
}


header {
    flex: 1 1 100vw;
}

nav {
    flex: 1 1 100vw;
}

main {
    flex: 1 1 100vw;
}

aside {
    flex: 1 1 100vw;
}

footer {
    flex: 1 1 100vw;
}
